.account-container {
    background-image: url("../images/FundoLogin.jpeg");
    background-size: cover;
    background-position: center;
    bacground-repeat: no-repeat;
    display: flex;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-align-items: center;
    align-items: center;
    min-height: 100vh;
    padding: 2em 0;
}

.account-box {
    background-color: #ffffff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
    opacity: 0.95;
}
